[submodule ".config/ranger/plugins/ranger_devicons"]
	path = .config/ranger/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons.git
[submodule ".config/ranger/plugins/ranger-archives"]
	path = .config/ranger/plugins/ranger-archives
	url = https://github.com/maximtrp/ranger-archives
[submodule ".config/ranger/plugins/ranger-zoxide"]
	path = .config/ranger/plugins/ranger-zoxide
	url = https://github.com/jchook/ranger-zoxide.git
