[user]
	email = 29845794+Anomalocaridid@users.noreply.github.com
	name = Anomalocaridid
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[core]
	autocrlf = input
	pager = PAGER=less delta
[interactive]
	diffFilter = PAGER=less delta --color-only
[add.interactive]
	useBuiltin = false
[delta]
	navigate = true
	features = cyberpunk-neon
	side-by-side = true
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
[delta "interactive"]
	keep-plus-minus-markers = false
[delta "cyberpunk-neon"]
    commit-decoration-style = box ul
    dark = true
    file-decoration-style = "#ea00d9"
    file-style = "#ea00d9" ul
    hunk-header-decoration-style = box ul
    hunk-header-file-style = bold
    hunk-header-line-number-style = bold "#f57800"
    hunk-header-style = file line-number syntax
    line-numbers = true
    line-numbers-left-style = "#ea00d9"
    line-numbers-minus-style = bold "#ff0000"
    line-numbers-plus-style = bold "#00ff00"
    line-numbers-right-style = "#711c91"
    line-numbers-zero-style = "#0abdc6"
    minus-emph-style = syntax "#880000"
    minus-style = bold syntax "#330000"
    plus-emph-style = syntax "#005500"
    plus-style = bold syntax "#002200"
    syntax-theme = cyberpunk-neon
