@use "palette" as p;

// NOTE: 1 rem = 13 1/3 px (font size according to eww inspector)

* {
  all: unset; //Unsets everything so you can style everything from scratch
  font-family: p.$font;
}

//Global Styles
@mixin rootContainer {  
  background-color: p.$base;
  color: p.$text;
  border-radius: 0.6rem;
  border: 0.05rem solid p.$lavender;
}

.bar, tooltip {
  @include rootContainer;
}

// Ensure elements don't go over the sides
@mixin sideBar($side) {
  .#{$side}-bar {
    padding-#{$side}: 0.4rem;
  }
}

@include sideBar(left);
@include sideBar(right);

scale trough {
  background-color: p.$overlay0;
  border-radius: 0.75rem; 
  min-height: 0.3rem;
  min-width: 3.75rem; 
  margin-left: 0.75rem;
  margin-right: 0.75rem;

  highlight {
    background-color: p.$accent;
    // Seems redundant, but it will have square ends otherwise
    border-radius: 0.75rem; 
  }
}

$statColors: (
  "memory": p.$pink,
  "cpu": p.$peach,
  "disk": p.$green,
  "temperature": p.$sapphire
);

.stat {
  @each $class, $color in $statColors {
    &.#{$class} {
      color: $color;

      &.urgent {
        color: p.$yellow;
      }

      &.critical {
        color: p.$red;
      }
    }  
  }
}

@mixin heading(){
  color: p.$accent;
  font-weight: bold;
}

calendar.header, calendar:selected {
  @include heading;
}

.workspace-entry {
  &.current {
    @include heading;
  }
  // Ensure icons are not cut off
  padding: 0rem 0.4rem;

}

.music-title {
  @include heading;
  font-size: 1.2rem;
}

.music-album {
  font-style: italic;
}

.disconnected {
  color: p.$yellow;
}

// Systray dropdown
menu {
  @include rootContainer;

  * {
    padding-left: 0.1rem;
    padding-right: 0.1rem;

    &:hover {
      background-color: rgba(p.$surface2, 0.6);
    }
  }
}

