/*
Arc-Dark Color Scheme
*/

/*@define-color highlight #5294e2;
@define-color base1  #404552;
@define-color base2  #40455;
@define-color base3  #4b5160;*/

/* Cyberpunk-Neon colorscheme */
@define-color dark-blue  #000b1e;
@define-color blue       #091833;
@define-color light-blue #133e7c;
@define-color light-alt  #0b2956;
@define-color cyan       #0abdc6;
@define-color pink       #ea00d9;
@define-color purple     #711c91;
@define-color purple-alt #321959;
@define-color red        #ff0000;
@define-color orange     #f57800;
@define-color white      #d7d7d5;
@define-color yellow     #ffff00;
@define-color green      #00ff00;

@define-color highlight  @purple;
@define-color base1      @blue;
@define-color base2      @dark-blue;
@define-color base3      @dark-blue;

*{
    font-family: "Fira Code Nerd Font";
}

#window {
	  border: 1px solid @highlight;
    margin: 0px 5px 0px 5px;

}

#inner-box {
    background-color: @base2;

}

#outer-box {
  margin: 5px;
  padding:10px;
  background-color: @base2;
	margin-top: -22px;
}

#scroll {
}

#text {
padding: 5px;
color: @cyan;
}

#entry:nth-child(even){
    background-color: @base1;
}

#entry {
    background-color: @base3;
}

#entry:selected {
    background-color: @highlight;
}

#text:selected {
    color: @white;
}
